.container {
    background-color: white;
    width: 100vw;
    height: 100vh;
    padding: 0 40rpx;
}

.settingsCell{
    justify-content: space-between;
    background-color: white;
    padding: 32rpx 0;
    display: flex;
}
.divider{
    height: 1px;
    background-color: #EEEEEE;
}
.heading{
    color: 'black';
    font-size: 40rpx;
    padding: 48rpx 0;
}
.text{
    color: 'black';
    font-size: 32rpx;
}
.arrow{
    height: 40rpx;
    width: 40rpx;
    margin-right: 16rpx;
}